.btn {
    width: 125px;
    height: 48px;
    color: white;
    background-color: #877EED;
    line-height: 150%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #544ACB;
}