.text-input {
    font-size: 16px;
    line-height: 150%;
    color: #EAEAEA;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    width: 360px;
    max-width: 100%;
    padding: 12px;
    text-align: center;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.text-input::placeholder{
    color: #6c6a6a;
}